
<ul>
    <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
    <li><a routerLink="/inventory" routerLinkActive="active" >INVENTORY</a></li>
    <li><a routerLink="/details" routerLinkActive="active">DETAILS</a></li>
    <li><a routerLink="/booktransactions" routerLinkActive="active" >BOOK TRANSACTIONS</a></li>
    <li><a routerLink="/administrator" routerLinkActive="active">ADMINISTRATOR</a></li>
    <li style="float:right"><a routerLink="/about" routerLinkActive="active">ABOUT</a></li>
</ul>
<router-outlet></router-outlet>